.App {
    padding-top: 200px;
    padding-left: 500px;
    padding-bottom: 200px;
    margin: auto;
    background: #2c2c36;
    border: aqua;
}

.numBlock {
    padding-left: 510px;
    color: aqua;
    font-size: 90px;
    font-weight: 700;
}
.numBlockRed {
    padding-left: 510px;
    color: red;
    font-size: 90px;
    font-weight: 700;
}

.buttonInc {
    font-weight: 900;
    color:  #2c2c36;
    padding-left: 210px;
    font-size: 50px;
    background: aqua;
    border-radius: 15px;

}

.buttonReset {
    font-weight: 900;
    color:  #2c2c36;
    padding-left: 210px;
    font-size: 50px;
    background: aqua;
    border-radius: 15px;
}