.App {
    padding-top: 200px;
    padding-left: 500px;
    padding-bottom: 200px;
    padding-bottom: 200px;
    margin: auto;
}

.numBlock {
    padding-left: 210px;
}

.buttonBlock {
    color: darkorchid;
}